# url of the Network Rail STOMP server
NR_STOMP_URL="publicdatafeeds.networkrail.co.uk:61618"

# Credentials to access the Network Rail STOMP server for VSTP data
NR_STOMP_LOGIN=""
NR_STOMP_PASSWORD=""

# Location of SQLite database - will be created if doesn't exist
DATA_DIR="data"

# Location of schedule feed json file 
SCHEDULE_FEED_FILENAME="schedule.json"

# Location of logfile
LOG_FILENAME=""

# Port and ip to listen to requests on 
LISTEN_ON="127.0.0.1:3333"

# If 'yes', delete schedules which expired in the past
# ie whose schedule_end_date is prior to the current day
# Can be useful for trimming the database
DELETE_EXPIRED_SCHEDULES_ON_REFRESH="yes"
